{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delphis Courier Services</title>

     <!--Main css-->
     <link rel="stylesheet" href="{% static 'css/style.css' %}" />

     <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static '' %}img/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.png' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

</head> 
<body>
<header>
    <nav class="navbar">
        <div class="header-container">
            <div class="row justify-content-between align-items-center">
            <div class="logo pd">
                <a href="/" class="brand-name">
                <!-- <img class="logo-img" src="img/header-logo.gif" alt="header logo"> -->
                <h2>DELPHIS COURIER SERVICES</h2>
                </a>
            </div>
            <button class="navbar-nav-toggle pd">
                <span></span>
            </button>
            <div class="navbar-nav">
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#testimonial">Testimonial</a></li>
                    <li><a href="#contact">Contact us</a></li>
                </ul>
            </div>
            </div>
        </div>
    </nav>
</header>
<body>
    {% block content %}


    {% endblock %}
    <script src="{% static 'js/script.js?v=1' %}"></script>
</body>

{% include 'footer.html' %}
</html>
