<footer>
    <div class="footer">
        <div class="footer-text">
            <p>Copyright 2020 - All Rights Reserved</p>
        </div>
        <div class="footer-up">
            <a href="#Home" class="up">Up</a>
        </div>
    </div>
</footer>