{% extends 'base.html' %}
{% load static %}
{% block title %}
    <h1>Delphis Courier Services</h1>
{% endblock %}

{% block content %}

<section id="Home">
    <div class="Home">
        <div class="Home-deets">
            <div class="Home-text lnd">
                <h1>Track parcels from over 50 carriers!</h1>
                <h2>Get the latest updates </h2>

                <div class="search">
                    <form action="{% url 'track' %}" method="get">
                        <div class="form-cat">
                            <div class="cat-s"><input name="q" class="form-input" type="text" placeholder="Input tracking number:"></div>  
                          
                          <div><input type="submit" class="btn" name="submit" value="Track" ></div>  
                        </div>
                        <br>
                        <p>Terms & Conditions Apply</p>
                    </form>
                </div>
            </div>
            <div class="Home-img lnd">
                <!-- <img src="img/delivery.svg" alt="Delivery Bus"> -->
                <!-- <img src="{% static 'img/delivery-van.svg' %}" alt="Delivery Bus"> -->
            </div>
        </div>
    </div>
</section>


<!-- Update -->
<section id="about" class="default">
    <div class="about default-section">
        <h2 class="header-sec">About Us</h2>
        <div class="about-text">
        Over the years, we’ve learned that great service begins and ends with experienced and friendly professionals, 
        which explains our rigorous hiring process. We believe that our team is the best in the business, 
        and have complete and total confidence in every person providing our services. <br>
        <br>
        Delphis courier services finishes each project on schedule and with the highest level of quality. 
        With a focus on personalized service, competitive rates and customer satisfaction, 
        we’re always striving to meet and exceed expectations.
        </div>
    </div>
</section>

<section id="Services" class="default">
    <div class="services default-section">
         <h2 class="header-sec">What We Provide</h2>
         <div class="services-info">
             <div class="services-text flex">
                 <h3>Pet Shipping</h3>
                 <p>Attention to details</p>
                 <br>
                 <p>
                 Since its founding, Delphis courier services has been one of the most trusted names in the industry. 
              <br>  Hire us for this service and learn how we cater to the needs of each client, ensuring the results you need and deserve.
                 </p>
             </div>
             <div class="services-img flex">
                <img src="{% static 'img/pet-shipping.svg' %}" alt="Pet Shipping">
             </div>

         </div>

         <div class="services-info">
             
            <div class="services-img flex">
                <img src="{% static 'img/cargo.svg' %}" alt="Cargo">
             </div>
             <div class="services-text flex">
                 <h3>Port and Cargo Shipping</h3>
                 <p>Expert Service</p>
                 <br>
                 <p>
                 We have the experience and skills necessary to tackle just about every type of job that comes our way. <br>
                 With Delphis courier services, clients know exactly what to expect - professionalism, efficiency and exceptional results.
                 </p>
             </div>

         </div>

    </div>
</section>

<section id="testimonial" class="default">
    <div class="testimonial default-section">
    <h2 class="header-sec white">Testimonial</h2>
        <div class="testimonial-box">
            <div class="testimonial-img">
                <img src="{% static 'img/skyler.png' %}" alt="Skyler">
                <p class="name">Skyler Adelson</p>
            </div>
            <div class="text">
                <p>I have never been let down when using Delphis courier services. Their services are top notch.</p>
            </div>
            
        </div>
    </div>
</section>

<section id="contact" class="default">
    <div class="contact " >
        <div class="contact-deets">
            <div class="contact-img flex">
                <img src="{% static 'img/contact.svg' %}" alt="">
            </div>
            <div class="contact-text flex">
                <h2 class="blue">Get in touch</h2>
                <br>
                <p>Need more help? <br>
                contact our customer service here:</p>
                <a href="mailto:" class="">send@trace.com</a>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'js/script.js?v=1' %}"></script>
{% endblock %}