{% extends 'base.html' %}
{% block title %}
    <h1>Delphis</h1>
{% endblock %}

{% block content %}
<section id="landing">
    <div class="landing">
        <div class="parcel">
            <div class="float">
            <img src="img/parcel.svg" alt="Delivery Packages">
            </div>
           
            <div class="parcel-info">
                <div class="reference">
                    <p>HY2923001</p>
                </div>
                <div class="product">
                    <h2>Huncho Green Tshirt</h2>
                    <p>Fashion</p>
                </div>
                <div class="shipment">
                    <div class="weight">
                        <div class="weight-text">
                            <p>Shipment weight</p>
                        </div>
                        <div class="weight-kg">
                            <p>0.5kg</p>
                        </div>
                    </div>
                </div>
                <div class="transport">
                    <div class="trans-comp">
                        <div class="trans-comp-text">
                            <p>Tranporting</p>
                        </div>
                        <div class="trans-comp-by">
                            <p>Fedex</p>
                        </div>
                    </div>
                </div>

                <div class="charges">
                    <div class="charges-deets">
                        <div class="charges-del">
                            <div class="charges-del-name">
                                <p>Delivery Charges</p>
                            </div>
                            <div class="charges-del-amount">
                                <p>$50.00</p>
                            </div>
                        </div>
                        <div class="express-delivery">
                            <div class="exp-del-name">
                                <p>Express Delivery</p>
                            </div>
                            <div class="exp-del-amount">
                                <p>$600.00</p>
                            </div>
                        </div>
                        <div class="tax">
                            <div class="tax-name">
                                <p>Tax</p>
                            </div>
                            <div class="tax-amount">
                                <p>$70.00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shipment">
                    <div class="weight total">
                        <div class="weight-text">
                            <p>Package Total</p>
                        </div>
                        <div class="weight-kg">
                            <p>$720.00</p>
                        </div>
                    </div>
                </div>
                
                <div class="tracking">
                    <div class="tracking-deets">
                        <div class="tracking-img">
                             <img src="img/talk-it.png" alt="Huncho Green Tshirt">
                        </div>
                        <div class="tracking-info">
                            <p>In Transit</p>
                            <div class="tracking-loader">
                                <div id="myProgress">
                                <div id="myBar"></div>
                                </div>
                            </div>
                            <div class="tracking-text">
                                <div class="tracking-from">
                                    <img src="img/delivery-truck.svg" alt="Delivery Truck">
                                    <p>China</p>
                                </div>
                                <div class="tracking-within">
                                    <img src="img/right.svg" alt="right">
                                </div>
                                <div class="tracking-to">
                                    <img src="img/box.svg" alt="Box">
                                    <p>London</p>
                                </div>
                            </div>
                            
                            <div class="tax estimated">
                                <div class="tax-name">
                                    <p>Estimated</p>
                                </div>
                                <div class="tax-amount">
                                    <p>12-24 October</p>
                                </div>
                             </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>














    <a href="/">Home</a>
    {% for parcel in object_list %}
        <li>
            {{ parcel.tracking_number }}, {{ parcel.name_of_sender }}, {{ parcel.status }}
        </li>
    {% endfor %}

    <script src="js/script.js?v=1"></script>
{% endblock %}