{% extends 'base.html' %}
{% load static %}
{% block title %}
    <h1>Delphis Courier Services</h1>
{% endblock %}

{% block content %}


<section id="Home">
    <div class="Home">
        <div class="parcel">
            <div class="float">
                <img src="{% static 'img/parcel.svg' %}" alt="Delivery Packages">
            </div>
            {% for parcel in object_list %}
                <div class="parcel-info">
                    <div class="reference">
                        <!-- <p>{{ parcel.tracking_number }}</p> -->
                    </div>
                    <div class="product">
                        <h2>{{ parcel.tracking_number }}</h2>
                        <p>Tracking Number</p>
                        <p>Express Delivery</p>
                    </div>
                    <div class="shipment">
                        <div class="weight">
                            <div class="weight-text">
                                <p>Name of Sender</p>
                            </div>
                            <div class="weight-kg">
                                <p>{{ parcel.sender_name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="transport">
                        <div class="trans-comp">
                            <div class="trans-comp-text">
                                <p>Sender Email Address</p>
                            </div>
                            <div class="trans-comp-by">
                                <p>{{ parcel.sender_email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="transport">
                        <div class="trans-comp">
                            <div class="trans-comp-text">
                                <p>Sender Phone Number</p>
                            </div>
                            <div class="trans-comp-by">
                                <p>{{ parcel.sender_number }}</p>
                            </div>
                        </div>
                    </div>
                <div class="charges">
                    <div class="shipment">
                        <div class="weight">
                            <div class="weight-text">
                                <p>Name of Recipient</p>
                            </div>
                            <div class="weight-kg">
                                <p>{{ parcel.recipient_name }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="transport">
                        <div class="trans-comp">
                            <div class="trans-comp-text">
                                <p>Recipient Email Address</p>
                            </div>
                            <div class="trans-comp-by">
                                <p>{{ parcel.recipient_email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="transport">
                        <div class="trans-comp">
                            <div class="trans-comp-text">
                                <p>Recipient Phone Number</p>
                            </div>
                            <div class="trans-comp-by">
                                <p>{{ parcel.recipient_number }}</p>
                            </div>
                        </div>
                    </div>


                </div>
                    
                    <div class="charges">
                        <div class="shipment">
                            <div class="weight">
                                <div class="weight-text">
                                    <p>Package Gross Weight</p>
                                </div>
                                <div class="charges-del-amount">
                                    <p>{{ parcel.parcel_weight }}Kg</p>
                                </div>
                            </div>
                            <div class="express-delivery">
                                <div class="exp-del-name">
                                    <p>Number of Packages</p>
                                </div>
                                <div class="exp-del-amount">
                                    <p>{{ parcel.number_of_parcels }}</p>
                                </div>
                            </div>
                            <div class="tax">
                                <div class="tax-name">
                                    <p>Order date</p>
                                </div>
                                <div class="tax-amount">
                                    <p>{{ parcel.ordered_date }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shipment">
                        <div class="weight total">
                            <div class="weight-text">
                                <p>Current Location</p>
                            </div>
                            <div class="weight-kg">
                                <p>{{ parcel.location }}</p>
                            </div>
                        </div>
                        <div class="transport">
                            <div class="trans-comp">
                                <div class="trans-comp-text">
                                    <p>Location Service Area</p>
                                </div>
                                <div class="trans-comp-by">
                                    <p>{{ parcel.location_state }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="tracking">
                        <div class="tracking-deets">
                            <!-- <div class="tracking-img">
                                <img src="{% static 'img/talk-it.png' %}" alt="Huncho Green Tshirt">
                            </div> -->
                            <div class="tracking-info">
                                <p>{{ parcel.status }}</p>
                                <!-- <div class="tracking-loader">
                                    <div id="myProgress">
                                        <div id="myBar"></div>
                                    </div>
                                </div> -->
                                <div class="tracking-text">
                                    <div class="tracking-from">
                                        <img src="{% static 'img/delivery-truck.svg' %}" alt="Delivery Truck">
                                        <p>{{ parcel.origin_state }} - {{ parcel.origin }}</p>
                                    </div>
                                    <div class="tracking-within">
                                        <img src="{% static 'img/right.svg' %}" alt="right">
                                    </div>
                                    <div class="tracking-to">
                                        <img src="{% static 'img/box.svg' %}" alt="Box">
                                        <p>{{ parcel.destination_state }} - {{ parcel.destination }}</p>
                                    </div>
                                </div>
                                
                                <div class="tax estimated">
                                    <div class="tax-name">
                                        <p>Estimated</p>
                                    </div>
                                    <div class="tax-amount">
                                        <p>{{ parcel.delivery_date }}</p>
                                    </div>
                                </div>
                                {% empty %}
                                    <h1>No result found!!!</h1>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}