@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	transition: 0.4s;
	scroll-behavior: smooth;
  }

  ::-webkit-scrollbar{ width: 5px; }
  ::-webkit-scrollbar-track{ background: white;}
  ::-webkit-scrollbar-thumb{ background: #1c2a42;}
  ::-webkit-scrollbar-thumb:hover{background: #1c2a42}

  /* ::selection{
    color: #2d63b7;
  }
  ::-moz-selection{
    color: #2d63b7;
  } */
  body {
    font-family: "Roboto", "Helvetica", "sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden; 
    overflow-y: scroll; 
    color: white;
    background-color: #2d63b7;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
   }

   h1{
    font-size: 40px;
    font-weight: 1000;
    font-weight: 700;
    }

    h4{
      font-weight: 600;
      font-size: 24px;
      line-height: 38px !important;
      /* letter-spacing: -0.13px; */
    }

    p, li{
        font-size: 16px;
        font-weight: 300;
        color: white;
        opacity: 1;
		padding: 0;
    }


    /* Start header */

header{
	position: fixed;
	z-index: 1000;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container {
    width: 100%;
    margin: auto;
    flex-grow: 1;
    padding: 0 4%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    flex-grow: 1;
    padding: 0 4%;
}
.navbar{
	background-color: white;
	z-index: 3;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}

.logo-img{
	width: 150px;
	height: auto;
	padding: 2%;
}
.navbar .navbar-nav-toggle{
	height:32px;
	width: 40px;
	background-color: transparent;
	border:1px solid #1c2a42;
	border-radius:3px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.navbar .navbar-nav-toggle:focus{
	outline: none;
}
.navbar .navbar-nav-toggle span{
	height: 2px;
	width: 16px;
	display: inline-block;
	background-color: #1c2a42;
	position: relative;
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span{
	background-color: transparent;
}
.navbar .navbar-nav-toggle span::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 2px;
	width: 100%;
	background-color: #1c2a42;
	transform: translateY(-6px);
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span::before{
	transform: translateY(0) rotate(45deg);
}
.navbar .navbar-nav-toggle span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 2px;
	width: 100%;
	background-color: #1c2a42;
	transform: translateY(6px);
	transition: all .3s ease;
}
.navbar .navbar-nav-toggle.close span::after{
	transform: translateY(0) rotate(-45deg);
}
.navbar .navbar-nav ul{
	list-style: none;
	margin:0;
	padding:0;
}
.navbar .navbar-nav ul > li{
	display: inline-block;
	margin:0 25px;
	position: relative;
}
.navbar .navbar-nav ul > li:last-child{
 margin-right:0;	
}
.navbar .navbar-nav ul > li > a{
	padding:18px 0;
	display: block;
	color:#444;
    font-size:16px;
	text-decoration: none;
	position: relative;
	transition: color 0.3s ease;
}

.navbar .navbar-nav ul > li > a:hover::before{
	width: 100%;
}
.navbar .navbar-nav ul > li > a:hover{
	color:#001338;
}

.navbar .navbar-nav ul > li > .sub-menu{
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	width: 220px;
	top:100%;
	left:0;
	margin:20px 0 0 0;
	padding:0;
	list-style: none;
	z-index:10;
	opacity:0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.navbar .navbar-nav ul > li:hover > .sub-menu{
    opacity:1;
	visibility:visible;	
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li{
	display: block;
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a::before{
	content: none;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a{
	color:#444;
	transition: all 0.3s ease;
	padding:14px 20px;
	text-decoration: none;
	margin:0;
}
.navbar .navbar-nav ul > li > .sub-menu > li > a:hover{
	background-color: #2d63b7;
	color:#ffffff;
}

/*Responsive Navbar*/

@media(max-width: 991px){
	.navbar .navbar-nav ul > li{
		margin:0 15px;
    }
    header{
        position: relative;
    }
}

@media(max-width: 767px){
	.header-container{
		padding: 0%;
	}
	.navbar{
		color: white;
	}
	.navbar .navbar-nav-toggle{
		display: flex;
	}

	.pd{
		margin: 5%;
	}
  .navbar .navbar-nav{
  	max-height: 0;
  	flex-basis: 100%;
  	max-width: 100%;
  	overflow: hidden;
  	transition: all 0.5s ease;
  }

  .navbar .navbar-nav ul{
  	background-color: #001338 ;
  	margin-top:12px;
  }
  .navbar .navbar-nav ul > li{
  	display: block;
  	margin:0;
  }
  .navbar .navbar-nav ul > li > a::before{
     content: none;
  }
  .navbar .navbar-nav ul > li > a {
    padding: 12px 15px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    color: white;
 }
 .navbar .navbar-nav ul > li > .sub-menu{
 	max-height: 0;
 	overflow: hidden;
 	position: relative;
 	width: 100%;
 	box-shadow: none;
 	margin:0;
 	visibility: visible;
 	opacity: 1;
 	background-color: transparent;
 	border: none;
 }
 .navbar .navbar-nav ul > li > .sub-menu > li > a{
 	color: #ffffff;
 	padding:14px 20px 12px 40px;
 }
}
/* end hedear */
/* Home */
	#Home{
		width: 100%;
		background-image: url('../img/home-top.jpg');
		Background-size: cover;
		Background-repeat: no-repeat;
	}
	.Home{
		width: 100%;
		padding: 5%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.Home-deets{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.lnd{
		flex: 1;
		padding: 3%;
	}
	.lnd img{
		width: 100%;
	}
	.search{
		padding: 5% 0%;
	}

	/* form */
	.btn{
		color: white;
		background: rgb(165, 35, 35);
		padding: 15px 20px;
		border: none;
		/* border-radius: 5px; */
		cursor: pointer;
	  }
	  .btn:hover{
		  background: rgb(138, 24, 24);
	  }
	  .form-input {
		width: 100%;
		padding: 15px;
		border: none;
		background: #f1f1f1;
		width: 100%;
		border: none;
		outline-width: 0;
		}
		.form-cat{
			display: flex;
			justify-content: flex;
			align-items: center;
		}
		.cat-s{
			/* padding-right: 3%; */
			flex: 70%;
		}
/* end form*/

/* end Home*/

/* Parcel Page */
.parcel{
	width: 100%;
}
	.parcel-info{
		color: #1a2a41;
		width: 100%;
		background-color: #f7fbff;
		border-radius: 12px;
		padding: 12% 5% 5%;
	}
	.parcel{
		width: 70%;
	}

	.float{
		width: 50%;
		margin: 0 auto;
		margin-bottom: -100px;
	}

	.reference p{
		color: #1a2a41;
	}
	.product h2, p{
		color: #1a2a41;
	}
	.shipment{
		padding: 2% 0%;
	}
	.weight{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f0f3fc;
		padding: 2%;
	}
	.total{
		background: #e2f4f5;
	}
	.trans-comp, .tax,.express-delivery, .charges-del{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2%;
	}
	.charges{
		border-top: .5px solid #00133831;
		border-bottom: .5px solid #00133831;
	}

	.tracking-deets{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.tracking-img{
		flex: 50%;
	}
	.tracking-img img{
		width: 100%;
	}
	.tracking-text{
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 2%;
	}
	.tracking-loader{
		padding-top: 3%;
	}
	.tracking-from,
	.tracking-within,
	.tracking-to{
		flex: 1;
	}
	.tracking-from img, .tracking-within img, .tracking-to img{
		width: 30%;
		text-align: center;
	}
	.tracking-within img{
		width: 10%;
	}
	.tracking-info p {
		text-align: center;
	}
	#myProgress {
		width: 70%;
		background-color: #ddd;
		border-radius: 50px;
		margin: 0 auto;
	  }
	  
	  #myBar {
		width: 20%;
		height: 5px;
		background-color: rgb(138, 24, 24);
		border-radius: 50px;
	  }
	  .estimated{
		  width: 80%;
		  margin: 0 auto;
		  background: #e2f4f5;
	  }
/* end parcel page */

/* UPDATE*/
.default{
	background-color: white;
}
.default-section{
	padding: 5% 5% 0%;
}

.header-sec{
	font-size: 30px;
	text-align: center;
	color: #001C54;
  }
  .header-sec::after{
	display: block;
	text-align: center;
	content: "";
	border-top: .2rem solid rgb(138, 24, 24);
	width: 4rem;
	margin: 0 auto;
	transform: translateY(0.5rem);
	padding: 4px;
}

.about-text{
	width: 70%;
	margin: 0 auto;
	padding: 5%;
	color: #001338;
	text-align: center;
	line-height: 28px;
}
#services{
	background: rgb(243, 243, 243);
}
.services-text h3{
	color: #001338;
}
.services-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	line-height: 28px;
	padding: 3%;
}
.flex{
	flex: 1;
	padding: 2%;
}
.flex img{
	width: 100%;
}

#testimonial{
	background: #2d63b7;
}
.white{
	color: white;
}
.testimonial-box{
	width: 50%;
	margin: 10% auto;
	background-color: #ddd;
	border-radius: 15px;
	padding: 5%;
}
.testimonial-img{
	width: 100%;
	margin: 0 auto;
	padding: 3%;
	text-align: center;
	margin-top: -150px;
}
.testimonial-img img{
	width: 30%;
}

/* contact */
	.contact-deets{
		width: 70%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3%;
	}
	.contact-img img{
		width: 100%;
	}
	.blue{
		color: #001338;
	}
/* end Contact */
/* footer */
	footer{
		background-color: #001338;
	}
	.footer-text p{
		color: white;
	}
	.footer{
		padding: 2% 5%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.up{
		background-color: #444;
		color: white;
		padding: 50%;
		border-radius: 5px;
	}

/* end footer */

/* some Media quaries */
@media(max-width: 991px){
	.testimonial-img{
		margin-top: -100px;
	}
}
/* start media for 700px*/
@media(max-width: 700px){
    .Home-deets{
		display: flex;
	}
	.parcel{
		width: 100%;
	}
	.parcel-info{
		padding: 20% 5% 5%;
	}
	.about-text{
		width: 100%;
	}
	.services-info{
		width: 100%;
	}
	.testimonial-img{
		margin-top: -70px;
	}
}
/* start media for 476px*/
@media(max-width: 476px){
   .parcel-info{
	padding: 30% 5% 5%;}
	.tracking-img{
		flex: 100%;
	}
	.tracking-deets{
		display: block;
	}
	.tracking-img{
		text-align: center;
	}
	.tracking-img img{
		width: 50%;
	}
	.services-info{
		display: block;
	}
	.testimonial-box{
		width: 100%;
	}
}
/* start media for 375px*/
@media(max-width: 375px){
	.float{
		width: 70%;
		margin-bottom: -70px;
	}
	.testimonial-box{
		margin: 20% auto;
	}
	.contact-deets{
		width: 100%;
	}
}